/********************************* TAG selectors ***********************************/

body {
    background-color: #ffe8e8;
  }

  hr{
    border-style: none;
    height: 2px;
    background-color: white;
    width: 100%;
  }

  h1, h2, h3{
      color: #ff9292;
  }



/********************************* CLASS selectors ***********************************/

.skills{
  background-color: #ffdcdc;
}

.skills:hover{
  background-color: blueviolet;
}

/********************************* ID selectors ***********************************/
