
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by Shivangi</p>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>
