<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Day of the Week</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        <div class="box" id="heading">
            <h1><%= kindOfDay %></h1>
        </div>

        <div class="box">
            <% for(var i = 0; i < itemList.length; i++){ %>
            <div class="item">
                <input type="checkbox">
                <p> <%= itemList[i] %> </p>
            </div>
            <% } %>

            <form class="item" action="/" method="POST">
                <input type="text" name="nextItem" placeholder="New Item">
                <button type="submit" name="button">+</button>
            </form>

        </div>

        
    </body>

</html>
